CompileFlags:
  CompilationDatabase: "build"
  Add: [
    -DKSIMD_IDE_ANALYSIS,        # 自定义的IDE分析宏
    "-std=c++20",
    "--target=aarch64-linux-gnu", # arm 64
    "-march=armv8-a+simd",        # NEON
    # "-march=armv8-a+sve",         # SVE
  ]

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - "pp_including_mainfile_in_preamble" # 禁用头文件递归包含的报错
